<html>
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Coimbra | Daniel Gea</title>

    <meta charset="UTF-8" />

    <!-- IBM Plex Mono TODO -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <div class="main">
    <a href={"/photography"} class="back-to-projects">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M19 12H5"></path>
        <path d="M12 19l-7-7 7-7"></path>
      </svg>
      <span>Back to photography projects</span>
    </a>
    <article class="container" id="container">
      <header class="header">
        <div class="titulo">quien habla <br />de ti.</div>
        <div class="texto-presentacion">
          <p>
            Contextualizo mi proyecto en los últimos 2 años de mi vida. Muy
            marcados para mí personalmente, por las personas que me han rodeado.
          </p>
          <p>
            En este proyecto, busco viajar entre esas historias que han vivido y
            que viven conmigo. Dejándome llevar, en parte por la imaginación y
            en parte por la sinceridad. Sintiéndome libre de poder expresar cómo
            yo me siento con cada relación, pues a veces no tengo las palabras o
            el valor necesario.
          </p>
          <p>
            Para contar las historias, me recreo con objetos, lugares, retratos
            y textos. Como ya he dicho, cada historia tiene nombre y apellido, y
            hacia esas personas les dedico un guiño especial en este proyecto.
          </p>
          <p>
            Por último, siempre me han descrito por ser alguien incapaz de dejar
            las cosas claras, quizás sea cierto. Espero que esto ayude a
            confirmarlo e invito a cualquiera que lea esto, a sumergirse en las
            fotografías como si de sus propios recuerdos se tratasen.
          </p>
        </div>
      </header>

      <section class="galeria">
        <div class="img2">
          <a
            href="/images/photography/quien-habla/2.webp"
            data-lightbox="mygallery"
            data-title="1. - Sombras y recuerdos."
          >
            <img src="/images/photography/quien-habla/2.webp" /></a
          >
        </div>

        <div class="img1">
          <a
            href="/images/photography/quien-habla/1.webp"
            data-lightbox="mygallery"
            ><img src="/images/photography/quien-habla/1.webp" /></a
          >
          <!-- data-title="- Ni las sombras, ni los recuerdos serán nunca los mismos. Doy gracias, pues los míos no olvido, pero pido perdón." -->
        </div>

        <hr class="line-white" />
        <div class="img2">
          <a
            href="/images/photography/quien-habla/4.webp"
            data-lightbox="mygallery"
            data-title="2- La luz que desprendes."
          >
            <img src="/images/photography/quien-habla/4.webp" /></a
          >
        </div>
        <div class="img1">
          <a
            href="/images/photography/quien-habla/3.webp"
            data-lightbox="mygallery"
            ><img src="/images/photography/quien-habla/3.webp" /></a
          >
          <!-- data-title="- Aprender a revelar no es fácil. Necesitamos oscuridad y confianza, no sé si me explico. Quiero decir, dices digo encontré un tesoro." -->
        </div>

        <hr class="line-white" />

        <div class="img2">
          <a
            href="/images/photography/quien-habla/6.webp"
            data-lightbox="mygallery"
            data-title="3. - Secretos."
          >
            <img src="/images/photography/quien-habla/6.webp" /></a
          >
        </div>

        <div class="img1">
          <a
            href="/images/photography/quien-habla/5.webp"
            data-lightbox="mygallery"
            ><img src="/images/photography/quien-habla/5.webp" /></a
          >
          <!-- data-title="- Me enseñaste a crecer, a moverme y a cómo caer. Me diste un lugar donde desahogarme, y ojalá nunca lo leas, gracias." -->
        </div>

        <hr class="line-white" />

        <div class="img2">
          <a
            href="/images/photography/quien-habla/8.webp"
            data-lightbox="mygallery"
            data-title="4. - Del pantano a la luna."
          >
            <img src="/images/photography/quien-habla/8.webp" /></a
          >
        </div>

        <div class="img1">
          <a
            href="/images/photography/quien-habla/7.webp"
            data-lightbox="mygallery"
            ><img src="/images/photography/quien-habla/7.webp" /></a
          >
          <!-- data-title="- Mirar lo suficientemente lejos, como para ver la luna. Y mirar lo suficientemente cerca, como para vernos con estrellas." -->
        </div>

        <hr class="line-white" />

        <div class="img2">
          <a
            href="/images/photography/quien-habla/10.webp"
            data-lightbox="mygallery"
            data-title="5. - Olvidos, descuidos."
            ><img src="/images/photography/quien-habla/10.webp" /></a
          >
        </div>

        <div class="img1">
          <a
            href="/images/photography/quien-habla/9.webp"
            data-lightbox="mygallery"
            ><img src="/images/photography/quien-habla/9.webp" /></a
          >
          <!-- data-title="- Olvidada y algo quemada. A medio camino de ser enterrada y quieres llevártela." -->
        </div>

        <hr class="line-white" />

        <div class="img2">
          <a
            href="/images/photography/quien-habla/12.webp"
            data-lightbox="mygallery"
            data-title="6. - Perdón Teatro."
            ><img src="/images/photography/quien-habla/12.webp" /></a
          >
        </div>

        <div class="img1">
          <a
            href="/images/photography/quien-habla/11.webp"
            data-lightbox="mygallery"
            ><img src="/images/photography/quien-habla/11.webp" /></a
          >
          <!-- data-title="- El título… ¿cuál era? Perdón me he equivocado. - De eso se trata." -->
        </div>

        <hr class="line-white" />

        <div class="img2">
          <a
            href="/images/photography/quien-habla/14.webp"
            data-lightbox="mygallery"
            data-title="7. - Rastros."
            ><img src="/images/photography/quien-habla/14.webp" /></a
          >
        </div>

        <div class="img1">
          <a
            href="/images/photography/quien-habla/13.webp"
            data-lightbox="mygallery"
            ><img src="/images/photography/quien-habla/13.webp" /></a
          >
          <!-- data-title="- Para mí estás aquí, por mucho que no se te escuche. Me dirijo a ti, aunque hoy no veas esto." -->
        </div>

        <hr class="line-white" />

        <div class="img2">
          <a
            href="/images/photography/quien-habla/16.webp"
            data-lightbox="mygallery"
            data-title="8. - Una Noche Normal N(0,1)."
            ><img src="/images/photography/quien-habla/16.webp" /></a
          >
        </div>

        <div class="img1">
          <a
            href="/images/photography/quien-habla/15.webp"
            data-lightbox="mygallery"
            ><img src="/images/photography/quien-habla/15.webp" /></a
          >
          <!-- data-title="- Las noches ya no hablan, apenas se cruzan. Es normal, dejaron de ser adolescentes." -->
        </div>

        <hr class="line-white" />

        <div class="img2">
          <a
            href="/images/photography/quien-habla/18.webp"
            data-lightbox="mygallery"
            data-title="9. - Capturados."
            ><img src="/images/photography/quien-habla/18.webp" /></a
          >
        </div>

        <div class="img1">
          <a
            href="/images/photography/quien-habla/17.webp"
            data-lightbox="mygallery"
            ><img src="/images/photography/quien-habla/17.webp" /></a
          >
          <!-- data-title="18. - Capturar un momento y cuidarlo como el principito a su rosa. Como si el mundo fuese de aquí hasta aquí." -->
        </div>

        <hr class="line-white" />

        <div class="img2">
          <a
            href="/images/photography/quien-habla/20.webp"
            data-lightbox="mygallery"
            data-title="10. - De una película, sueño."
            ><img src="/images/photography/quien-habla/20.webp" /></a
          >
        </div>

        <div class="img1">
          <a
            href="/images/photography/quien-habla/19.webp"
            data-lightbox="mygallery"
            data-title="- La luz ha vuelto para descubrirnos. Canta de nuevo, y escóndenos del resto del mundo."
            ><img src="/images/photography/quien-habla/19.webp" /></a
          >
        </div>
      </section>

      <hr class="separation" />

      <footer class="footer">
        <div class="texto-fin">
          Video presentación del proyecto.<br /> Expuesto el 3 de Julio de 2020 en
          La Ampliadora | Escuela Social de Fotografía.
        </div>
        <div class="video-final">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/zycuiaXbIpE"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </footer>
    </article>
  </div>

  <style>
    /* --- QUIEN HABLA DE TI --- */
    :root {
      --light: rgb(255, 243, 232);
    }

    * {
      margin: 0;
      padding: 0;
      font-family: "IBM Plex Mono";
      box-sizing: border-box;
    }
    html {
      scroll-behavior: smooth;
      overflow-y: scroll;

      box-sizing: border-box;
      font-size: 62.5%;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
      min-width: 100%;
    }

    body {
      background-color: rgb(30, 30, 30);
      font-family: "Raleway";
    }

    .main {
      display: relative;
    }

    .back-to-projects {
      z-index: 50;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 12px;
      font-weight: 500;
      color: var(--color-dark, #fff);
      text-decoration: none;
      opacity: 0.7;
      transition: opacity 0.2s ease;
      position: static;
      padding: 2rem 1rem;
      width: fit-content;

      & svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    @media (min-width: 1780px) {
      .back-to-projects {
        position: fixed;
        top: 1rem;
        left: 0.25rem;
      }
    }

    .back-to-projects:hover {
      opacity: 1;
    }

    .nav-back {
      position: fixed;
      width: 35px;
      height: 35px;
      top: 10px;
      left: 10px;
      z-index: 5;
      cursor: pointer;
    }

    .container {
      max-width: 1400px;
      margin: 0 auto;
      display: relative;
    }

    .header {
      width: 85%;
      margin: 6rem auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      background-color: rgb(28, 28, 28);
      border-radius: 5px;
    }
    .titulo {
      font-size: 4.5rem;
      font-family: "Liberation Mono";
      font-weight: 500;
      color: var(--light);
      width: 50%;
      padding-left: 40px;
      border-left: 5px solid var(--light);
      border-top: 5px solid var(--light);
      border-radius: 2px;
      display: flex;
      align-items: center;
    }

    .texto-presentacion {
      width: 50%;
      padding: 40px;
      display: flex;
      flex-direction: column;
      border-right: 5px solid var(--light);
      border-bottom: 5px solid var(--light);
      border-radius: 2px;
    }
    p {
      color: var(--light);
      font-size: 18px;
      font-weight: 300;
      text-align: left;
      margin-bottom: 1rem;
      line-height: 1.8rem;
    }

    .galeria {
      width: 95%;
      margin: 10px auto;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: rgb(24, 24, 24);
    }

    img {
      height: auto;
      width: 100%;
      object-fit: contain;
      border-radius: 3px;
    }

    .img1 {
      margin-bottom: 40px;
      width: 39.2%;
      padding: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .img2 {
      margin-bottom: 40px;
      width: 59%;
      padding: 3%;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .footer {
      width: 90%;
      padding: 3%;
      margin: 0px auto;
      margin-bottom: 50px;
      background-color: rgb(28, 28, 28);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer .texto-fin {
      text-align: center;
      color: rgb(230, 230, 230);
      font-size: 18px;
    }
    .footer .video-final {
      display: flex;
      justify-content: center;
      padding: 2%;
      width: 50%;
    }

    .footer .video-final iframe {
      object-fit: contain;
    }

    .separation {
      display: none;
      visibility: hidden;
    }

    /*RESPONSIVE*/

    @media (max-width: 850px) {
      .header {
        flex-direction: column;
      }
      .titulo {
        width: 100%;
        text-align: right;
        justify-content: flex-end;
        padding: 40px;
        font-size: 3.5rem;
      }
      .texto-presentacion {
        width: 100%;
        font-size: 16px;
      }

      .img1 {
        margin: 5px auto;
        width: 80%;
      }
      .img2 {
        margin: 5px auto;
        width: 80%;
        padding: 2%;
      }

      .galeria {
        flex-direction: column;
      }
      .line-white {
        border: 2px solid rgb(150, 150, 150);
        background-color: rgb(150, 150, 150);
        border-radius: 5px;
        width: 50%;
        margin: 30px auto;
      }
      .separation {
        display: block;
        visibility: visible;
        border: 2px solid rgb(210, 210, 210);
        border-radius: 5px;
        background-color: rgb(210, 210, 210);
        margin: 8% auto;
        width: 80%;
      }
    }

    :global(.lightbox) {
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
      width: 100vw !important;
      height: 100vh !important;
      margin: 0 !important;
      z-index: 10000 !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    body.lb-disable-scrolling {
      overflow: hidden;
    }
    :global(.lightboxOverlay) {
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
      width: 100vw !important;
      height: 100vh !important;
      z-index: 9999 !important;
    }
    .lightbox {
      width: 100%;
      z-index: 10000;
      font-weight: 400;
      outline: 0;
    }
    .lightbox .lb-image {
      display: block;
      height: auto;
      max-width: inherit;
      max-height: none;
      border-radius: 3px;
      border: 4px solid rgb(30, 30, 30);
    }
    .lightbox a img {
      border: none;
    }
    .lb-outerContainer {
      position: relative;
      width: 250px;
      height: 250px;
      margin: 0 auto;
      border-radius: 3px;
      background-color: rgb(30, 30, 30);
    }
    .lb-outerContainer:after {
      content: "";
      display: table;
      clear: both;
    }
    .lb-loader {
      top: 43%;
      height: 25%;
      width: 100%;
    }
    .lb-cancel {
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 auto;
      background: url(../images/loading.gif) no-repeat;
    }
    .lb-nav {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
    }
    .lb-container > .nav {
      left: 0;
    }
    .lb-nav a {
      outline: 0;
      background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
    }
    .lb-next,
    .lb-prev {
      height: 100%;
      cursor: pointer;
      display: block;
    }
    .lb-nav a.lb-prev {
      width: 34%;
      left: 0;
      float: left;
      background: url(../images/prev.png) left 48% no-repeat;
      filter: alpha(Opacity=0);
      opacity: 0;
      -webkit-transition: opacity 0.6s;
      -moz-transition: opacity 0.6s;
      -o-transition: opacity 0.6s;
      transition: opacity 0.6s;
    }
    .lb-nav a.lb-prev:hover {
      filter: alpha(Opacity=100);
      opacity: 1;
    }
    .lb-nav a.lb-next {
      width: 64%;
      right: 0;
      float: right;
      background: url(../images/next.png) right 48% no-repeat;
      filter: alpha(Opacity=0);
      opacity: 0;
      -webkit-transition: opacity 0.6s;
      -moz-transition: opacity 0.6s;
      -o-transition: opacity 0.6s;
      transition: opacity 0.6s;
    }
    .lb-nav a.lb-next:hover {
      filter: alpha(Opacity=100);
      opacity: 1;
    }
    :global(.lb-dataContainer) {
      margin: 0 auto;
      padding-top: 5px;
      width: 100%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    :global(.lb-dataContainer:after) {
      content: "";
      display: table;
      clear: both;
    }
    :global(.lb-data) {
      padding: 0 4px;
      color: #ccc;
    }
    :global(.lb-data .lb-details) {
      width: fit-content;
      float: left;
      text-align: left;
      line-height: 1.1em;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 6px 10px;
      margin-top: -5px;
      margin-left: -4px;
    }
    :global(.lb-data .lb-caption) {
      font-size: 18px !important;
      font-weight: 400 !important;
      line-height: 1em !important;
      color: white !important;
    }
    :global(.lb-data .lb-caption a) {
      color: #4ae !important;
    }
    .lb-data .lb-caption a {
      color: #4ae;
    }
    :global(.lb-data .lb-number) {
      clear: left;
      padding-bottom: 1em;
      font-size: 14px;
      font-weight: 400;
      line-height: 1em;
      color: white;
      opacity: 80;
      display: block;
      margin-top: 8px;
      display: none !important;
    }
    .lb-data .lb-close {
      display: block;
      float: right;
      width: 25px;
      height: 25px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 6 6 18'/%3E%3Cpath d='m6 6 12 12'/%3E%3C/svg%3E")
        top right no-repeat;
      text-align: right;
      outline: 0;
      filter: alpha(Opacity=70);
      opacity: 0.7;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
    .lb-data .lb-close:hover {
      cursor: pointer;
      filter: alpha(Opacity=100);
      opacity: 1;
    }

    :root {
      --dark: #000000;
      --primary: #a44200;
      --secondary: #ffffff;
      --background: #fff6ee;
      /* --background: #FFF4E9; */

      --main-font: "IBM Plex sans", system-ui;
      --paragraph-font: "Work Sans", system-ui;

      --max-width: 1200px;
    }

    html {
      font-size: 14px; /* Ajusta según tus necesidades */
      font-family: var(--main-font);
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .nav {
      height: 11vh;
      min-height: 100px;
      width: 100%;
      background-color: var(--dark);
      color: var(--background);
      z-index: 1;
      padding-inline: 2rem;
      border-bottom: var(--background) 0.1rem solid;
      z-index: 5;
      display: block;
      flex-wrap: nowrap;
    }
    .nav--width {
      max-width: var(--max-width);
      height: 100%;
      margin: 0 auto;
      padding-inline: 0rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav .nav__ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .nav .nav__ul .nav__li {
      height: 100%;
      width: 8rem;
      cursor: pointer;
      list-style: none;
      font-family: var(--main-font);
      color: var(--background);
      font-size: 0.8rem;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-right: 0.1rem;
    }

    .nav .nav__ul .nav__li:hover {
      background-color: var(--primary);
      transition: 0.3s;
      height: 100%;
    }

    .nav .nav__ul .nav__li a {
      text-decoration: none;
      color: var(--dark);
    }

    .logo {
      height: 100%;
      font-family: var(--main-font);
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.25rem;
      color: var(--primary);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .logo:hover {
      cursor: pointer;
    }

    .nav .nav__ul .nav__li a {
      text-decoration: none;
      color: inherit;
    }

    /* OVERLAY MENUS */

    .block {
      display: block;
    }

    .burger {
      visibility: hidden;
      display: none;
    }
    .logo--overlay {
      visibility: hidden;
      display: none;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.25rem;
      color: var(--primary);
      display: flex;
      align-items: center;
    }

    .overlay {
      width: 100%;
      height: 0vh;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      overflow-y: hidden;
      overflow-x: hidden;
      transition: 0.6s ease-in-out;
      background-color: var(--dark);
      display: flex;
      align-items: center;
    }
    .overlay-content {
      width: 100%;
      position: relative;
      top: 0;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .overlay-content .nav__li {
      width: 100%;
      padding: 2.5rem 6rem;
      font-family: var(--main-font);
      font-size: 1.5rem;
      color: var(--secondary);
    }
    .overlay-content .nav__li a:hover {
      color: var(--primary);
    }
    .overlay .closebtn {
      width: 30px;
      height: 20px;
      position: absolute;
      top: 2.7rem;
      right: 4rem;
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.788);
      z-index: 2;
      cursor: pointer;
    }
    .closebtn:hover {
      content: url("../img/nav/burger-hover.png");
    }

    @media (max-width: 1200px) {
      .nav {
        padding-inline: 1rem;
      }
    }

    @media (max-width: 960px) {
      .nav .nav__ul {
        margin-right: 0rem;
      }
      .nav .nav__ul .nav__li {
        width: 6rem;
        padding: 0rem;
        margin-right: 0rem;
        font-size: 14px;
        font-weight: 400;
      }
      .overlay {
        max-width: 960px;
      }
      .overlay-content {
        max-width: 960px;
      }
    }

    @media (max-width: 672px) {
      .nav {
        height: 100px;
        padding: 0 2.5rem;
        background-color: var(--dark);
        position: fixed; /* Fija el header para que se quede en la parte superior */
        top: 0;
        left: 0;
      }
      ul {
        list-style: none;
      }
      .nav--width {
        position: relative;
        justify-content: center;
      }
      .burger {
        visibility: visible;
        display: block;
        width: 30px;
        height: 20px;
        position: absolute;
        top: 1.35rem;
        right: 2rem;
        cursor: pointer;
        z-index: 3;
      }
      .burger img {
        width: 100%;
      }
      .burger:hover > img {
        content: url("../img/nav/burger-hover.png");
      }
      .overlay {
        max-width: 672px;
      }
      .overlay-content {
        max-width: 672px;
      }

      .nav__ul {
        visibility: hidden;
      }
      .nav__ul .nav__li {
        display: none;
      }
      .logo {
        visibility: hidden;
      }
      .logo--overlay {
        visibility: visible;
        display: flex;
        position: fixed;
        top: 36px;
        left: 3rem;
        z-index: 4;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.25rem;
        color: var(--primary);
      }
    }

    .current-page {
      background-color: var(--primary);
    }

    @media (max-width: 500px) {
      html {
        font-size: 13px;
      }
    }
  </style>

  <script
    src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"
    is:inline></script>
  <script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js" is:inline
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    is:inline></script>
  <script src="/js/lightbox-plus-jquery.min.js" is:inline></script>


</html>
