---
import { Badge } from "@/components/ui/badge";
import Layout from "../layouts/Layout.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Image from "astro/components/Image.astro";
import { formatMonthYear } from "@/utils/helper";

const photographyProjects: CollectionEntry<"photography">[] =
  await getCollection("photography");

photographyProjects.sort((a, b) => {
  const projectA = a.data.date.getTime();
  const projectB = b.data.date.getTime();

  return projectB - projectA;
});
---

<Layout title="Photography">
  <MainLayout>
    <div class="space-y-8">
      <h1 class="text-4xl font-bold uppercase">Photography</h1>
    </div>

    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        photographyProjects.map((project) => (
          <a href={`/photography/${project.id}`}>
            <article class="group relative aspect-3/4 overflow-hidden rounded-sm transition duration-200 hover:shadow-sm hover:contrast-105">
              <Image
                src={project.data.img}
                class="absolute h-full w-full object-cover transition duration-250 group-hover:scale-104"
                width={500}
                height={500}
                alt=""
              />

              <div class="absolute bottom-4 left-4 flex flex-col gap-1">
                <Badge
                  variant="secondary"
                  className=" bg-dark! text-light! border-none!  "
                >
                  {formatMonthYear(project.data.date)}
                </Badge>
                <Badge
                  variant="secondary"
                  className=" text-sm! bg-dark! text-light! border-none!  "
                >
                  {project.data.title}
                </Badge>
              </div>
            </article>
          </a>
        ))
      }
    </div>
  </MainLayout>
</Layout>
