---
import Layout from "../layouts/Layout.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import PublicationCard from "@/components/atoms/PublicationCard.astro";

const publications: CollectionEntry<"publications">[] =
  await getCollection("publications");

publications.sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime();
});
---

<Layout title="Publications">
  <MainLayout>
    <div class="space-y-4 sm:px-4">
      <h1 class="text-4xl font-bold uppercase">Publications</h1>
    </div>

    <div class="space-y-12">
      {
        publications.map((publication) => (
          <a
            href={`/publications/${publication.id}`}
            class="block no-underline!"
          >
            <PublicationCard
              data={publication}
              className="sm:hover:bg-dark/3 sm:p-4"
            />
          </a>
        ))
      }
    </div>
  </MainLayout>
</Layout>
