---

---

<section class="max-w-4xl mx-auto space-y-8">
  <h2 class="text-light font-bold text-3xl">Experience</h2>
  <div class="row">
    <div class="col-6">
      <div class="card mt-5">
        <div class="card-body space-y-4 px-5">
          <section class="px-1 space-y-4 vert-hr">
            <div
              class="size-2 rounded-full absolute bg-light -left-3.25 top-3.5 -translate-1/2"
            >
            </div>
            <h5 class="mb-1 text-dark font-medium bg-cream w-fit px-2">
              <a href="https://www.abss.at/" target="_blank">
                abss interactive
              </a>
            </h5>

            <h6 class="font-weight-bolder text-light">
              Frontend Developer
              <span class="text-light"
                >&nbsp;|&nbsp;April 2025 &ndash; Present
              </span>
            </h6>

            <p class="text-light/70">
              Gained experience building digital products using React and
              Next.js. Focused on delivering accessible and performant web
              applications that are scalable and maintainable. I care about
              understanding systems end-to-end and applying solid engineering
              practices to build reliable software.
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .vert-hr {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 14px;
      bottom: 6px;
      left: -13.1px;
      border-left: 1px solid var(--color-light);
      transform: translate(-50%);
    }
  }
  .title-dot {
    margin-left: -27px;
    font-size: 12px;
    z-index: 99;
    color: var(--color-light);
    vertical-align: middle;
    &:last-child {
      font-size: 0.4em;
    }
    &-sm {
      left: 4px;
      margin-left: -27px;
      font-size: 10px;
      z-index: 99;
      color: var(--color-light);
      vertical-align: middle;

      &:last-child {
        font-size: 0.5em;
      }
    }
  }
  .title {
    margin-left: -22px;
    color: var(--color-light);
  }
</style>
