---
import { ABSS } from "@/data";
---

<section class="mx-auto max-w-5xl space-y-8">
  <h2 class="text-light text-3xl font-bold">Experience</h2>
  <div class="row">
    <div class="col-6">
      <div class="card mt-5">
        <div class="card-body group space-y-4 px-5">
          <section class="vert-hr group space-y-4 px-1">
            <div
              class="bg-light group-hover:bg-cream absolute top-3.5 -left-[12px] z-1 size-[10px] -translate-1/2 rounded-full transition group-hover:scale-130"
            >
            </div>

            <h5
              class="text-dark bg-cream mb-1 w-fit px-2 font-medium hover:contrast-110"
            >
              <a href="https://www.abss.at/" target="_blank">
                abss interactive
              </a>
            </h5>

            <h6 class="font-weight-bolder text-light">
              Frontend Developer
              <span class="text-light"
                >&nbsp;|&nbsp;April 2025 &ndash; Present
              </span>
            </h6>

            <div class="space-y-2">
              <p class="text-light">
                {ABSS.roleSummary}
              </p>

              <ul
                class="marker:text-light/80 text-light/95 list-disc space-y-1.5 pl-5"
              >
                {
                  ABSS.highlights.map((line) => (
                    <li class="text-[15px] leading-relaxed">{line}</li>
                  ))
                }
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
