---
const links = [
  {
    label: "LinkedIn",
    href: "https://www.linkedin.com/in/dngea/",
    external: true,
  },
  {
    label: "GitHub",
    href: "https://github.com/dngea",
    external: true,
  },
  {
    label: "Contact",
    href: "#",
    id: "contactButton2",
  },
  {
    label: "Resume",
    href: "img/home/Daniel_Gea_Resume.pdf",
    download: "Daniel_Gea_Resume.pdf",
  },
  {
    label: "ResearchGate",
    href: "https://www.researchgate.net/publication/388475957_Semantic_and_Spatial_Sound-Object_Recognition_for_Assistive_Navigation",
    external: true,
  },
];

const sitemap = [
  { label: "Portfolio", href: "/" },
  { label: "Stack", href: "/#stack" },
  { label: "Projects", href: "/projects" },
  { label: "Photography", href: "/photography" },
  { label: "Publications", href: "/publications" },
  { label: "About", href: "/about" },
];
---

<footer class="w-full p-4 sm:p-8">
  <div class="mx-auto w-full max-w-6xl space-y-8 sm:space-y-0">
    <div class="flex flex-col gap-12 sm:flex-row sm:justify-between">
      <section class="space-y-8">
        <h3 class="text-2xl underline sm:text-4xl">dngeap@gmail.com</h3>
        <p class="text-balance">
          Designed in Figma and built using Astro with TypeScript, React and
          Tailwind CSS. The code is available on <a
            href="https://github.com/dngea/portfolio"
            class="hover:text-dark hover:bg-cream w-fit transition-all"
            target="_blank">github.com/dngea</a
          >.
        </p>
      </section>

      <section class="flex gap-8">
        <!-- links -->
        <div class="flex flex-col gap-2">
          <p class="text-light px-0.5 font-medium uppercase">LINKS</p>
          {
            links.map((link) => (
              <a
                href={link.href}
                class="hover:text-dark hover:bg-cream w-fit px-0.5 transition-all"
                target={link.external ? "_blank" : "_self"}
              >
                {link.label}
              </a>
            ))
          }
        </div>
        <!-- sitemap -->
        <div class="flex flex-col gap-2">
          <p class="text-light px-0.5 font-medium uppercase">SITEMAP</p>
          {
            sitemap.map((link) => (
              <a
                class="hover:text-dark hover:bg-cream w-fit px-0.5 transition-all"
                href={link.href}
              >
                {link.label}
              </a>
            ))
          }
        </div>
      </section>
    </div>

    <!-- Daniel Gea -- 2025 -->
    <section class="flex flex-wrap items-end justify-between gap-2">
      <span class="text-4xl font-semibold sm:text-5xl md:text-7xl"
        >Daniel Gea</span
      >
      <time>2025</time>
    </section>
  </div>
</footer>
