---
const menu = [
  {
    id: "portfolio",
    label: "Portfolio",
    path: "/",
  },
  {
    id: "projects",
    label: "Projects",
    path: "/projects",
  },
  {
    id: "photography",
    label: "Photography",
    path: "/photography",
  },
  {
    id: "publications",
    label: "Publications",
    path: "/publications",
  },
  {
    id: "about",
    label: "About",
    path: "/about",
  },
];

const currentPath = Astro.url.pathname;
---

<header
  class="bg-light/95 fixed top-8 left-1/2 z-20 -translate-x-1/2 rounded-full px-4 py-2 shadow-xl"
>
  <nav id="nav">
    <ul class="relative flex gap-2">
      {
        menu.map((item) => {
          const isActive =
            currentPath === item.path ||
            currentPath.startsWith(item.path + "/");

          return (
            <>
              <li class="relative px-4 py-2">
                <a
                  href={item.path}
                  class={`relative z-10 font-medium ${isActive ? "text-light" : "text-dark"}`}
                >
                  {item.label}
                </a>
                {isActive && (
                  <span
                    transition:name="nav-pill"
                    class="bg-clay absolute top-1/2 right-0 left-0 h-10 min-w-16 -translate-y-1/2 rounded-full"
                  />
                )}
              </li>
            </>
          );
        })
      }

      <span class="hover-pill pointer-events-none absolute bg-black"> </span>
    </ul>
  </nav>
</header>

<style>
  .hover-pill {
    left: 0;
    transform: translateX(var(--x, 0px));
    width: var(--w, 4rem);
    height: 100%;
    transition:
      transform 300ms,
      width 300ms;
  }
</style>

<script>
  const nav = document.getElementById("nav");

  const ul = nav?.querySelector("ul");
  const hoverPill = nav?.querySelector(".hover-pill") as HTMLElement;
  const lis = nav?.querySelectorAll("li");

  function moveTo(event: Event) {
    console.log("event.currentTarget >>", event.currentTarget);

    const li = event.currentTarget as HTMLLIElement;

    if (!ul || !li || !hoverPill) return;

    const liRect = li.getBoundingClientRect();
    const ulRect = ul.getBoundingClientRect();

    const x = liRect.left - ulRect.left;

    hoverPill.style.setProperty("--x", `${x}px`);
  }

  lis?.forEach((li: HTMLLIElement) => {
    li.addEventListener("mouseenter", moveTo);
  });
</script>
