---
import { Button } from "@/components/ui/button";
import ProjectCard from "@/components/atoms/ProjectCard.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
---

<section class="mx-auto max-w-5xl space-y-8">
  <h2 class="text-light text-3xl font-bold">Projects</h2>

  <div class="flex w-full flex-col space-y-12">
    {projects.map((project) => <ProjectCard data={project} />)}

    <Button className="mt-4 ml-auto">More projects</Button>
  </div>
</section>
