---
import { Button } from "@/components/ui/button";
import ProjectCard from "@/components/atoms/ProjectCard.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
---

<section class="max-w-4xl mx-auto space-y-8">
  <h2 class="text-light font-bold text-3xl">Projects</h2>

  <div class="space-y-12 w-full flex flex-col">
    {projects.map((project) => <ProjectCard data={project} />)}

    <Button className="ml-auto mt-4">More projects</Button>
  </div>
</section>
