---
import { Button } from "@/components/ui/button";
import PublicationCard from "./atoms/PublicationCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const publications: CollectionEntry<"publications">[] =
  await getCollection("publications");

const visiblePublications = publications.slice(0, 2);
---

<section class="mx-auto max-w-5xl space-y-8">
  <h2 class="text-light text-3xl font-bold">Publications</h2>

  <div class="flex w-full flex-col space-y-12">
    {
      visiblePublications.map((publication) => (
        <PublicationCard data={publication} dark={true} />
      ))
    }

    <Button className="mt-4 ml-auto">More projects</Button>
  </div>
</section>
