---
const skills = [
  "HTML",
  "Next.js",
  "TypeScript",
  "Astro",
  "React",
  "Alpine.js",
  "Vitest/Jest",
  "Tailwind CSS",
  "CSS",
  "Sass",
  "Figma",
  "REST API",
];
---

<!-- todo: scroll top -margin -->
<section class="mx-auto max-w-5xl space-y-8" id="skills">
  <h2 class="text-light text-3xl font-bold">Stack</h2>
  <ul class="grid h-full w-full grid-flow-col grid-rows-4 gap-2">
    {skills.map((i) => <li class="text-light w-fit">{i}</li>)}
  </ul>
</section>
