---
const { href, label } = Astro.props;
---

<a
  href={href}
  class="hover:text-clay active:text-clay flex w-fit items-center gap-2 font-semibold text-gray-600 no-underline! transition"
>
  ← {label}
</a>
