---
import clsx from "clsx";
import { ArrowLeft } from "lucide-react";

const { href, label, dark } = Astro.props;
---

<a
  href={href}
  class={clsx(
    " flex w-fit items-center gap-1.5 font-semibold  no-underline! transition duration-100 ease-in",
    dark
      ? "text-light/80 hover:text-[#f06800] active:text-[#f06800]"
      : "text-gray-600 hover:text-clay active:text-clay",
  )}
>
  <ArrowLeft className="size-4" />
  <span>
    {label}
  </span>
</a>
