---
import clsx from "clsx";

const { className } = Astro.props;
---

<section
  class={clsx(
    "bg-light main-layout relative text-dark min-h-screen p-4",
    className,
  )}
>
  <div
    id="dark-overlay"
    class="bg-dark pointer-events-none absolute inset-0 z-0 opacity-0 transition-opacity duration-200 ease-linear"
  >
  </div>

  <slot name="background" />

  <div
    class="relative z-1 mx-auto mt-32 mb-16 max-w-5xl space-y-24 sm:mt-60 sm:mb-30"
  >
    <slot />
  </div>
</section>
