---
import clsx from "clsx";

const { className } = Astro.props;
---

<section class={clsx("bg-light text-dark min-h-screen p-4", className)}>
  <slot name="background" />

  <div class="relative z-1 mx-auto mt-60 mb-30 max-w-5xl space-y-24">
    <slot />
  </div>
</section>
